.topnav {
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    width: 100%;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
  }
  
  /* Style the links inside the navigation bar */
  .a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }

  .profile {
    float: right;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .a:hover {
    background-color: greenyellow;
    color: black;
  }

  .profile:hover {
    background-color: greenyellow;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .active {
    background-color: green;
    color: white;
    float: left;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }