.out{
    width:40%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    background-color:rgb(231, 231, 231);
    border-radius: 3%;
    padding: 1%;
}

.in{
    width: auto;
    margin: auto;


}

input{
    border-radius: 100px;
    border-style: none;
}

label{
    font-weight:600;
}
.submit{
    border-radius: 100px;
    background-color: green;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

select {
    border-radius: 100px;
    border-style: none;
}