.image {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 1%;
    border-radius: 25%;
}

.info {
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}

.name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.animal_card {
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    width: 50%;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
    margin-right: 1%;
    height: 30px;
}

.btn{
    background-color: green;
    color: aliceblue;
    border-radius: 30px;
}