.text_center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.text_up_left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.img {
    width: 100%;
}
.container {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

