.out{
    display: flex;
    align-content: center;
    margin: auto;
    justify-content: center;
    width: 50%;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
}

.message_from{
    display: flex;
    margin: auto;
    align-self: right;
    width: 40%;  
}

.message_to{
    display: flex;
    margin: auto;
    align-self: right;
    width: 40%;   
}