.wrapper{
    overflow: hidden;
}

.out{
    display: flex;
    
    width: 50%;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    margin: 10px auto;

    height: 800px;
    overflow-y: scroll;
}

.out::-webkit-scrollbar {
    width: 8px;
    margin: 2px;
}
 
.out::-webkit-scrollbar-track {
    border-radius: 100px;
}
 
.out::-webkit-scrollbar-thumb {
    background-color: #d6d3cd;
    border-radius: 100px;
}

.message_from{
    display: flex;
    flex-direction: row-reverse;
    align-self:flex-end;
    width: 80%;  
    margin: 10px 5px;
    background-color: green;
    border-radius: 7px;
}

.message_to{
    display: flex;
    align-self: left;
    width: 80%;   
    margin: 10px 5px;
    background-color: rgb(158, 158, 226);
    border-radius: 7px;
    
}

.send{
    display: flex;
    justify-content: center;
}

.text{
    padding: 5px;
}